language: java
#sudo: false
#install: true
#addons:
#  sonarcloud:
#    token:
#      secure: "834110c7191f97ecb226970c46dcaff8e681da5a"

jdk:
  - oraclejdk8
script: "mvn clean package -Dmaven.test.skip=true"

#script:
#  - mvn clean package sonar:sonar
#
#branches:
#  only:
#    - develop
#
#cache:
#  directories:
#    - '$HOME/.m2/repository'
#    - '$HOME/.sonar/cache'

notifications:
  email:
    - rememberber@163.com
