language: java

before_install:
- mvn install:install-file -Dfile=./src/main/lib/darcula.jar -DgroupId=com.darcula -DartifactId=darcula-lnf -Dpackaging=jar -Dversion=1.0 -DgeneratePom=true -DcreateChecksum=true

jdk:
  - oraclejdk8
script: "mvn clean package -Dmaven.test.skip=true"

#branches:
#  only:
#    - develop
#
cache:
  directories:
    - '$HOME/.m2/repository'
#    - '$HOME/.sonar/cache'

notifications:
  email:
    - rememberber@163.com
