<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="${url}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/InitMapper.xml"/>
        <mapper resource="mapper/TMsgKefuMapper.xml"/>
        <mapper resource="mapper/TMsgKefuPriorityMapper.xml"/>
        <mapper resource="mapper/TMsgMaTemplateMapper.xml"/>
        <mapper resource="mapper/TMsgMpTemplateMapper.xml"/>
        <mapper resource="mapper/TMsgSmsMapper.xml"/>
        <mapper resource="mapper/TPushHistoryMapper.xml"/>
        <mapper resource="mapper/TTemplateDataMapper.xml"/>
        <mapper resource="mapper/TWxMpUserMapper.xml"/>
        <mapper resource="mapper/TWxAccountMapper.xml"/>
        <mapper resource="mapper/TMsgMailMapper.xml"/>
        <mapper resource="mapper/TWxCpAppMapper.xml"/>
        <mapper resource="mapper/TMsgWxCpMapper.xml"/>
        <mapper resource="mapper/TMsgHttpMapper.xml"/>
        <mapper resource="mapper/TMsgDingMapper.xml"/>
        <mapper resource="mapper/TDingAppMapper.xml"/>
        <mapper resource="mapper/TMsgWxUniformMapper.xml"/>
        <mapper resource="mapper/TMsgMaSubscribeMapper.xml"/>
    </mappers>
</configuration>