<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="${url}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/TPushHistoryMapper.xml"/>
        <mapper resource="mapper/TWxMpUserMapper.xml"/>
        <mapper resource="mapper/TWxAccountMapper.xml"/>
        <mapper resource="mapper/TWxCpAppMapper.xml"/>
        <mapper resource="mapper/TDingAppMapper.xml"/>
        <mapper resource="mapper/TAccountMapper.xml"/>
        <mapper resource="mapper/TPeopleMapper.xml"/>
        <mapper resource="mapper/TPeopleDataMapper.xml"/>
        <mapper resource="mapper/TPeopleImportConfigMapper.xml"/>
        <mapper resource="mapper/TTaskMapper.xml"/>
        <mapper resource="mapper/TTaskExtMapper.xml"/>
        <mapper resource="mapper/TTaskHisMapper.xml"/>
        <mapper resource="mapper/TMsgMapper.xml"/>
    </mappers>
</configuration>