global
  log stdout format raw local0

defaults
  log global
  timeout connect 5s
  timeout client 35m
  timeout server 35m

frontend service_api
  bind :18990
  mode http
  default_backend service_api_nodes

backend service_api_nodes
  mode http
  balance roundrobin
  option httpchk GET /actuator/health/readiness
  http-check expect status 200
  server service_1 service-1:18990 check
  server service_2 service-2:18990 check

frontend agent_grpc
  bind :19090
  mode tcp
  default_backend agent_grpc_nodes

backend agent_grpc_nodes
  mode tcp
  balance leastconn
  server service_1 service-1:19090 check
  server service_2 service-2:19090 check
