<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxuele.tool.push.dao.TMsgKefuMapper">
    <resultMap id="BaseResultMap" type="com.fangxuele.tool.push.domain.TMsgKefu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="msg_type" jdbcType="INTEGER" property="msgType"/>
        <result column="msg_name" jdbcType="VARCHAR" property="msgName"/>
        <result column="kefu_msg_type" jdbcType="VARCHAR" property="kefuMsgType"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
        <result column="preview_user" jdbcType="VARCHAR" property="previewUser"/>
        <result column="wx_account_id" jdbcType="INTEGER" property="wxAccountId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="page_path" jdbcType="VARCHAR" property="pagePath"/>
        <result column="thumb_media_id" jdbcType="VARCHAR" property="thumbMediaId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, msg_type, msg_name, kefu_msg_type, content, title, img_url,
                describe, url, create_time,
                        modified_time, preview_user, wx_account_id, app_id, page_path, thumb_media_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_msg_kefu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_msg_kefu
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fangxuele.tool.push.domain.TMsgKefu">
        insert into t_msg_kefu (id, msg_type, msg_name,
                                kefu_msg_type, content, title,
                                img_url, describe, url,
                                create_time, modified_time, preview_user,
                                wx_account_id, app_id, page_path,
                                thumb_media_id)
        values (#{id,jdbcType=INTEGER}, #{msgType,jdbcType=INTEGER}, #{msgName,jdbcType=VARCHAR},
                #{kefuMsgType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
                #{imgUrl,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{createTime,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=VARCHAR}, #{previewUser,jdbcType=VARCHAR},
                #{wxAccountId,jdbcType=INTEGER}, #{appId,jdbcType=VARCHAR}, #{pagePath,jdbcType=VARCHAR},
                #{thumbMediaId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.fangxuele.tool.push.domain.TMsgKefu" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into t_msg_kefu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="msgName != null">
                msg_name,
            </if>
            <if test="kefuMsgType != null">
                kefu_msg_type,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="describe != null">
                describe,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="previewUser != null">
                preview_user,
            </if>
            <if test="wxAccountId != null">
                wx_account_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="pagePath != null">
                page_path,
            </if>
            <if test="thumbMediaId != null">
                thumb_media_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=INTEGER},
            </if>
            <if test="msgName != null">
                #{msgName,jdbcType=VARCHAR},
            </if>
            <if test="kefuMsgType != null">
                #{kefuMsgType,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="describe != null">
                #{describe,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=VARCHAR},
            </if>
            <if test="previewUser != null">
                #{previewUser,jdbcType=VARCHAR},
            </if>
            <if test="wxAccountId != null">
                #{wxAccountId,jdbcType=INTEGER},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="pagePath != null">
                #{pagePath,jdbcType=VARCHAR},
            </if>
            <if test="thumbMediaId != null">
                #{thumbMediaId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fangxuele.tool.push.domain.TMsgKefu">
        update t_msg_kefu
        <set>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=INTEGER},
            </if>
            <if test="msgName != null">
                msg_name = #{msgName,jdbcType=VARCHAR},
            </if>
            <if test="kefuMsgType != null">
                kefu_msg_type = #{kefuMsgType,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="describe != null">
                describe = #{describe,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=VARCHAR},
            </if>
            <if test="previewUser != null">
                preview_user = #{previewUser,jdbcType=VARCHAR},
            </if>
            <if test="wxAccountId != null">
                wx_account_id = #{wxAccountId,jdbcType=INTEGER},
            </if>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="pagePath != null">
                page_path = #{pagePath,jdbcType=VARCHAR},
            </if>
            <if test="thumbMediaId != null">
                thumb_media_id = #{thumbMediaId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fangxuele.tool.push.domain.TMsgKefu">
        update t_msg_kefu
        set msg_type       = #{msgType,jdbcType=INTEGER},
            msg_name       = #{msgName,jdbcType=VARCHAR},
            kefu_msg_type  = #{kefuMsgType,jdbcType=VARCHAR},
            content        = #{content,jdbcType=VARCHAR},
            title          = #{title,jdbcType=VARCHAR},
            img_url        = #{imgUrl,jdbcType=VARCHAR},
            describe       = #{describe,jdbcType=VARCHAR},
            url            = #{url,jdbcType=VARCHAR},
            create_time    = #{createTime,jdbcType=VARCHAR},
            modified_time  = #{modifiedTime,jdbcType=VARCHAR},
            preview_user   = #{previewUser,jdbcType=VARCHAR},
            wx_account_id  = #{wxAccountId,jdbcType=INTEGER},
            app_id         = #{appId,jdbcType=VARCHAR},
            page_path      = #{pagePath,jdbcType=VARCHAR},
            thumb_media_id = #{thumbMediaId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByMsgTypeAndMsgName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_msg_kefu
        where msg_type = #{msgType,jdbcType=INTEGER}
        and msg_name = #{msgName,jdbcType=VARCHAR}
    </select>
    <update id="updateByMsgTypeAndMsgName" parameterType="com.fangxuele.tool.push.domain.TMsgKefu">
        update t_msg_kefu
        set kefu_msg_type  = #{kefuMsgType,jdbcType=VARCHAR},
            content        = #{content,jdbcType=VARCHAR},
            title          = #{title,jdbcType=VARCHAR},
            img_url        = #{imgUrl,jdbcType=VARCHAR},
            describe       = #{describe,jdbcType=VARCHAR},
            url            = #{url,jdbcType=VARCHAR},
            modified_time  = #{modifiedTime,jdbcType=VARCHAR},
            preview_user   = #{previewUser,jdbcType=VARCHAR},
            wx_account_id  = #{wxAccountId,jdbcType=INTEGER},
            app_id         = #{appId,jdbcType=VARCHAR},
            page_path      = #{pagePath,jdbcType=VARCHAR},
            thumb_media_id = #{thumbMediaId,jdbcType=VARCHAR}
        where msg_type = #{msgType,jdbcType=INTEGER}
          and msg_name = #{msgName,jdbcType=VARCHAR}
    </update>
    <select id="selectByMsgType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_msg_kefu
        where msg_type = #{msgType,jdbcType=INTEGER}
        order by create_time desc
    </select>
    <delete id="deleteByMsgTypeAndName">
        delete
        from t_msg_kefu
        where msg_type = #{msgType,jdbcType=INTEGER}
          and msg_name = #{msgName,jdbcType=VARCHAR}
    </delete>
    <select id="selectByMsgTypeAndWxAccountId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_msg_kefu
        where msg_type = #{msgType,jdbcType=INTEGER}
        and (wx_account_id = #{wxAccountId,jdbcType=INTEGER} or wx_account_id is null)
        order by create_time desc
    </select>
</mapper>