<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxuele.tool.push.dao.TPeopleMapper">
    <resultMap id="BaseResultMap" type="com.fangxuele.tool.push.domain.TPeople">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="msg_type" jdbcType="VARCHAR" property="msgType"/>
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="people_name" jdbcType="VARCHAR" property="peopleName"/>
        <result column="app_version" jdbcType="VARCHAR" property="appVersion"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, msg_type, account_id, people_name, app_version, remark, create_time, modified_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_people
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fangxuele.tool.push.domain.TPeople">
        insert into t_people (id, msg_type, account_id,
        people_name, app_version, remark,
        create_time, modified_time)
        values (#{id,jdbcType=INTEGER}, #{msgType,jdbcType=VARCHAR}, #{accountId,jdbcType=INTEGER},
        #{peopleName,jdbcType=VARCHAR}, #{appVersion,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.fangxuele.tool.push.domain.TPeople">
        insert into t_people
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="peopleName != null">
                people_name,
            </if>
            <if test="appVersion != null">
                app_version,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="peopleName != null">
                #{peopleName,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null">
                #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fangxuele.tool.push.domain.TPeople">
        update t_people
        <set>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="peopleName != null">
                people_name = #{peopleName,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null">
                app_version = #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fangxuele.tool.push.domain.TPeople">
        update t_people
        set msg_type = #{msgType,jdbcType=VARCHAR},
        account_id = #{accountId,jdbcType=INTEGER},
        people_name = #{peopleName,jdbcType=VARCHAR},
        app_version = #{appVersion,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=VARCHAR},
        modified_time = #{modifiedTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByMsgTypeAndAccountIdAndName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people
        where msg_type = #{msgType,jdbcType=VARCHAR}
        and account_id = #{accountId,jdbcType=INTEGER}
        and people_name = #{peopleName,jdbcType=VARCHAR}
        order by modified_time desc
    </select>

    <select id="selectByMsgTypeAndAccountId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people
        where msg_type = #{msgType,jdbcType=VARCHAR}
        and account_id = #{accountId,jdbcType=INTEGER}
        order by modified_time desc
    </select>
</mapper>