<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxuele.tool.push.dao.TPeopleDataMapper">
    <resultMap id="BaseResultMap" type="com.fangxuele.tool.push.domain.TPeopleData">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="people_id" jdbcType="INTEGER" property="peopleId"/>
        <result column="pin" jdbcType="VARCHAR" property="pin"/>
        <result column="var_data" jdbcType="VARCHAR" property="varData"/>
        <result column="app_version" jdbcType="VARCHAR" property="appVersion"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, people_id, pin, var_data, app_version, remark, create_time, modified_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people_data
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_people_data
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fangxuele.tool.push.domain.TPeopleData">
        insert into t_people_data (id, people_id, pin,
        var_data, app_version, remark,
        create_time, modified_time)
        values (#{id,jdbcType=INTEGER}, #{peopleId,jdbcType=INTEGER}, #{pin,jdbcType=VARCHAR},
        #{varData,jdbcType=VARCHAR}, #{appVersion,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.fangxuele.tool.push.domain.TPeopleData">
        insert into t_people_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="peopleId != null">
                people_id,
            </if>
            <if test="pin != null">
                pin,
            </if>
            <if test="varData != null">
                var_data,
            </if>
            <if test="appVersion != null">
                app_version,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="peopleId != null">
                #{peopleId,jdbcType=INTEGER},
            </if>
            <if test="pin != null">
                #{pin,jdbcType=VARCHAR},
            </if>
            <if test="varData != null">
                #{varData,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null">
                #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fangxuele.tool.push.domain.TPeopleData">
        update t_people_data
        <set>
            <if test="peopleId != null">
                people_id = #{peopleId,jdbcType=INTEGER},
            </if>
            <if test="pin != null">
                pin = #{pin,jdbcType=VARCHAR},
            </if>
            <if test="varData != null">
                var_data = #{varData,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null">
                app_version = #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fangxuele.tool.push.domain.TPeopleData">
        update t_people_data
        set people_id = #{peopleId,jdbcType=INTEGER},
        pin = #{pin,jdbcType=VARCHAR},
        var_data = #{varData,jdbcType=VARCHAR},
        app_version = #{appVersion,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=VARCHAR},
        modified_time = #{modifiedTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPeopleIdLimit20" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people_data
        where people_id = #{peopleId,jdbcType=INTEGER}
        order by modified_time desc
        limit 20
    </select>
    <select id="countByPeopleId" resultType="java.lang.Long">
        select
        count(*)
        from t_people_data
        where people_id = #{peopleId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPeopleId" parameterType="java.lang.Integer">
        delete from t_people_data
        where people_id = #{peopleId,jdbcType=INTEGER}
    </delete>
    <select id="selectByPeopleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people_data
        where people_id = #{peopleId,jdbcType=INTEGER}
        order by modified_time desc
    </select>

    <select id="selectByPeopleIdAndKeyword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people_data
        where people_id = #{peopleId,jdbcType=INTEGER}
        and var_data like #{keyWord,jdbcType=VARCHAR}
        order by modified_time desc
    </select>
</mapper>