<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxuele.tool.push.dao.TPeopleImportConfigMapper">
    <resultMap id="BaseResultMap" type="com.fangxuele.tool.push.domain.TPeopleImportConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="people_id" jdbcType="INTEGER" property="peopleId"/>
        <result column="last_way" jdbcType="VARCHAR" property="lastWay"/>
        <result column="last_file_path" jdbcType="VARCHAR" property="lastFilePath"/>
        <result column="last_sql" jdbcType="VARCHAR" property="lastSql"/>
        <result column="app_version" jdbcType="VARCHAR" property="appVersion"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, people_id, last_way, last_file_path, last_sql, app_version, remark, create_time,
        modified_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people_import_config
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByPeopleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_people_import_config
        where people_id = #{peopleId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_people_import_config
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fangxuele.tool.push.domain.TPeopleImportConfig">
        insert into t_people_import_config (id, people_id, last_way,
        last_file_path, last_sql, app_version,
        remark, create_time, modified_time
        )
        values (#{id,jdbcType=INTEGER}, #{peopleId,jdbcType=INTEGER}, #{lastWay,jdbcType=VARCHAR},
        #{lastFilePath,jdbcType=VARCHAR}, #{lastSql,jdbcType=VARCHAR}, #{appVersion,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.fangxuele.tool.push.domain.TPeopleImportConfig">
        insert into t_people_import_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="peopleId != null">
                people_id,
            </if>
            <if test="lastWay != null">
                last_way,
            </if>
            <if test="lastFilePath != null">
                last_file_path,
            </if>
            <if test="lastSql != null">
                last_sql,
            </if>
            <if test="appVersion != null">
                app_version,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="peopleId != null">
                #{peopleId,jdbcType=INTEGER},
            </if>
            <if test="lastWay != null">
                #{lastWay,jdbcType=VARCHAR},
            </if>
            <if test="lastFilePath != null">
                #{lastFilePath,jdbcType=VARCHAR},
            </if>
            <if test="lastSql != null">
                #{lastSql,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null">
                #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fangxuele.tool.push.domain.TPeopleImportConfig">
        update t_people_import_config
        <set>
            <if test="peopleId != null">
                people_id = #{peopleId,jdbcType=INTEGER},
            </if>
            <if test="lastWay != null">
                last_way = #{lastWay,jdbcType=VARCHAR},
            </if>
            <if test="lastFilePath != null">
                last_file_path = #{lastFilePath,jdbcType=VARCHAR},
            </if>
            <if test="lastSql != null">
                last_sql = #{lastSql,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null">
                app_version = #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fangxuele.tool.push.domain.TPeopleImportConfig">
        update t_people_import_config
        set people_id = #{peopleId,jdbcType=INTEGER},
        last_way = #{lastWay,jdbcType=VARCHAR},
        last_file_path = #{lastFilePath,jdbcType=VARCHAR},
        last_sql = #{lastSql,jdbcType=VARCHAR},
        app_version = #{appVersion,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=VARCHAR},
        modified_time = #{modifiedTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>