<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxuele.tool.push.dao.TTemplateDataMapper">
  <resultMap id="BaseResultMap" type="com.fangxuele.tool.push.domain.TTemplateData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="msg_id" jdbcType="INTEGER" property="msg_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="create_time" jdbcType="VARCHAR" property="create_time" />
    <result column="modified_time" jdbcType="VARCHAR" property="modified_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, msg_id, name, value, color, create_time, modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_template_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_template_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangxuele.tool.push.domain.TTemplateData">
    insert into t_template_data (id, msg_id, name, 
      value, color, create_time, 
      modified_time)
    values (#{id,jdbcType=INTEGER}, #{msg_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{create_time,jdbcType=VARCHAR}, 
      #{modified_time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangxuele.tool.push.domain.TTemplateData">
    insert into t_template_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="msg_id != null">
        msg_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="modified_time != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="msg_id != null">
        #{msg_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="modified_time != null">
        #{modified_time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxuele.tool.push.domain.TTemplateData">
    update t_template_data
    <set>
      <if test="msg_id != null">
        msg_id = #{msg_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="modified_time != null">
        modified_time = #{modified_time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxuele.tool.push.domain.TTemplateData">
    update t_template_data
    set msg_id = #{msg_id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=VARCHAR},
      modified_time = #{modified_time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>